/* main */
body p {
  margin: 0;
  padding: 0;
}

.main {
  width: 80%;
  min-width: 450px;
  margin: 0 auto;
  padding: 2rem 0;
  font-size: 14px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input {
  padding: 0.5rem 1rem;
  width: 60%;
  font-size: 0.8rem;
  border: none;
  border-bottom: 2px solid #0e103d;
}

button {
  background-color: #0e103d;
  border-radius: 3px;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  color: #fff;
  cursor: pointer;
}

button:hover {
  background: #212690;
}

.loading {
  margin-top: 2%;
  font-size: 1.2rem;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* book search */
.book-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  width: 100%;
  margin: auto;
  margin-top: 5%;
}

.book-item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.book-title {
  font-weight: 700;
  font-size: 1.2rem;
  padding: 5px 0px;
  text-align: center;
}

.book-author {
  font-weight: 500;
  font-size: 0.9rem;
  padding: 5px 0px;
}

/* searchbar */
.search-bar {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 805px) {
  .search-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 40px;
    padding: 2rem 0;
  }
}

.search-bar-input {
  padding: 0.5rem 1rem;
  width: 40%;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid #0e103d;
  margin-right: 10px;
}

@media (max-width: 805px) {
  .search-buttons {
    margin: 15px;
    height: 30px;
  }
}

.search-bar-button {
  width: 100px;
  height: 30px;
  font-size: 1rem;
  margin: 0 5px;
}

.spinner {
  margin-top: 50px;
  height: 50px;
}

.search-error {
  margin-top: 3%;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
}

/* Pagination */
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 30px;
  width: 50%;
  min-width: 250px;
  margin: auto;
  padding: 5% 0%;
  text-align: center;
}

.pagination-dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0px 20px;
  font-weight: 500;
}

.pagination-button {
  font-weight: 700;
  width: 40px;
}
/*# sourceMappingURL=App.css.map */